body{
  background-color: rgb(26, 25, 25);

 
}
.hat {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: auto;
  
  
  
}
.Cover{
  display: flex;
  color: white;
  font-size: 30px;
  
}

.links {
  display: flex;
  gap: 30px;
  font-size: 20x;


}
.links a {
  text-decoration: none;
  color: white;
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
